nav {
    .nav-categories {
        display: flex;

        li {
            cursor: pointer;
            background-color: #f9f9f9;
            border: 1px solid #a8a4a4;
            margin: 2px;
            padding: 5px;
            list-style-type: none;
            border-radius: 20px;
            width: 80px;
            text-align: center;

            &:hover {
                background-color: #a8a4a4;
            }
        }

        .active {
            background-color: black;
            color: white;

            &:hover {
                background-color: #509650;
            }
        }
    }

    .popup-title {
        position: relative;
    }

    .popup-title ul {
        background-color: #c4c7c4;
        top: 34px;
        padding: 10px;
        border-radius: 0 0 30px 30px;
        left: 31px;
        position: absolute;
    }
}